# Logs and temp files  
*.log  
*.tmp  

# Node.js dependencies  
node_modules/  

# Python cache files  
_pycache_/  
*.pyc  

# macOS and Windows system files  
.DS_Store  
Thumbs.db  

# Environment files  
.env  

# Build and dependency directories  
build/  
dist/
